    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is SEU-as-code?</h2>
            <p class="intro text-center">
              SEU-as-code is a lightweight approach and tool based on Gradle that helps to
              alleviate and automate the provisioning of developers and their local development
              environments. The idea is simple: describe and implement the development
              environment as a Gradle build file. Required software packages become dependencies.
              Shell scripts are implemented as Gradle tasks or in Groovy.
            </p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed for developers</h3>
                        <p>Describe your development environment as Gradle build file. Implement required scripts in Groovy or Gradle tasks. Have full IDE support.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time saver</h3>
                        <p>Get up and running and bootstrap a new development environment for a project in under 15 minutes. Software updates are only a matter of minutes now.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Team centered</h3>
                        <p>Distribute and use the same homogene development environment across the whole team. The setup of new team members becomes a breeze.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="clearfix visible-md"></div>
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-cube"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Lightweight packaging</h3>
                        <p>Packages are build with Gradle from standard distributions. Packages can be handled by Maven repository managers or stored local to the SEU directory.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy to customise</h3>
                        <p>The SEU layout can be customised to suite your preferences. Have the full potential and power of Gradle at your disposal to add custom functionality.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code-fork"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Version controlled</h3>
                        <p>Keep track of changes to the development environment throughout the whole life time of a project. Easily revert to previous versions in case of bug fixes.</p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
