    <!-- ******DOCS****** -->
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>
            <div class="block">
                <h3 class="sub-title text-center">HTML</h3>
                <p><a href="http://prismjs.com/" target="_blank">PrismJS</a> is used as the syntax highlighter here.</p>
                <p>Below are the details of the custom PrismJS build used in this template. You can <a href="http://prismjs.com/download.html" target="_blank">build your own version</a> via their website should you need to.</p>
                <ul class="list-unstyled">
                    <li><strong>Compression level:</strong> Minified</li>
                    <li><strong>Theme:</strong> Okaidia</li>
                    <li><strong>Languages:</strong> Markup, CSS, C-like, JavaScript, PHP and Python</li>
                </ul>
                <div class="code-block">
                    <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                    <pre><code class="language-markup">
    &ltp class="my-style"&gt
      Hello World!
    &lt/p&gt
                     </code></pre>
                </div><!--//code-block-->
            </div><!--//block-->

            <div class="block">
                <h3 class="sub-title text-center">Full Documentation</h3>
                <p>The complete documentation of all plugins, packages, features and usage scenarios (including FAQ etc) can be found on GitHub.</p>
                </br>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://github.com/seu-as-code/seu-as-code.archetype" target="_blank">More on GitHub</a>
                </p>
            </div><!--//block-->

            </div><!--//docs-inner-->
        </div><!--//container-->
    </section><!--//docs->
