    <!-- ******DOCS****** -->
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>
            <div class="block">
                <p>
                  So you have decided to build your next development environment using SEU-as-code. Follow these five
                  basic steps to get started.
                </p>
                <ol style="padding-left: 20px; line-height: 2.0;">
                    <li>
                      <strong>Download</strong> the latest SEU-as-code archetype distribution from
                      either <a href="https://bintray.com/seu-as-code/generic/seuac-archetype/_latestVersion">Bintray</a>
                      or <a href="https://github.com/seu-as-code/seu-as-code.archetype/releases">GitHub</a>.
                    </li>
                    <li>
                      <strong>Extract</strong> the archive to a VHD or sparse image disk.
                    </li>
                    <li>
                      <strong>Customize</strong> the build.gradle file and adjust the seuAsCode{} configuration
                      section with your SEU name and root directory path. Also adjust the home and software
                      dependencies you require. For a complete list of packages have a look at the
                      <a href="https://github.com/seu-as-code/seu-as-code.packages">available packages</a>.
                    </li>
                    <li>
                      <strong>Version control</strong> the SEU-as-code files in a Git or SVN repository.
                    </li>
                    <li>
                      <strong>Bootstrap</strong> the SEU image by calling <i>`gradlew bootstrapSeu`</i> in a console window.
                    </li>
                </ol>
                <div class="code-block">
                    <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                    <pre><code class="language-groovy">plugins {
    id 'de.qaware.seu.as.code.base' version '2.4.0'
}

seuAsCode {
    seuHome = 'Q:'
    projectName = 'SEU-as-code Quickstart'
}

repositories {
	maven {
		url 'https://dl.bintray.com/seu-as-code/maven'
	}
}

dependencies {
    seuac 'org.codehaus.groovy.modules.scriptom:scriptom:1.6.0'
    seuac 'com.h2database:h2:1.4.188'

    home 'de.qaware.seu.as.code:seuac-home:2.4.0'
    software 'de.qaware.seu.as.code:seuac-environment:2.4.0'
}                     </code></pre>
                </div><!--//code-block-->
            </div><!--//block-->

            <!--//
            <div class="block">
                <h3 class="sub-title text-center">15 Minutes Showcase</h3>
                <p>This video showcases how to create a fully fledged development environment in under 15 minutes.</p>
                <div class="code-block">
                  <video width="320" height="240" controls>
                    <source src="{{ site.baseurl }}public/video/seu-as-code.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>
                </div>
            </div>-->

            <div class="block">
                <h3 class="sub-title text-center">Gradle Summit 2016 Presentation</h3>
                <p>This video is a screen cast of the SEU-as-code presentation at the Gradle Summit 2016.</p>
                <div class="code-block">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/9Pb9Df1o0rY?list=PLLQbIfXVLZqECVFyUGPwxvsXmX390FQTN" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="block">
                <h3 class="sub-title text-center">Full Documentation</h3>
                <p>
                  The complete documentation of all plugins, packages, features and usage scenarios (including FAQ etc) can be found on GitHub.
                  Also there is a dedicated SEU-as-code online documentation repository.
                </p>
                </br>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://seu-as-code.github.io/seu-as-code.documentation/" target="_blank">More on GitHub</a>
                </p>
            </div><!--//block-->

            <div class="block">
                <h3 class="sub-title text-center">User's Guide</h3>
                <p>
                  The user's guide for SEU-as-code as online book. Available as HTML, as ePub and Mobi format and PDF.
                </p>
                </br>
                <p class="text-center">
                    <a class="btn btn-cta-primary" href="https://seu-as-code.gitbooks.io/seu-as-code-users-guide/" target="_blank">More on GitBooks</a>
                </p>
            </div><!--//block-->

            </div><!--//docs-inner-->
        </div><!--//container-->
    </section><!--//docs->
