    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Development environment described as Gradle build</li>
                <li><i class="fa fa-check"></i> Consistent upgrades across your whole team</li>
                <li><i class="fa fa-check"></i> Portable development environment</li>
                <li><i class="fa fa-check"></i> Secure credential storage</li>
                <li><i class="fa fa-check"></i> Customizable via standard Gradle and Groovy</li>
                <li><i class="fa fa-check"></i> Runs on Windows and Mac</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
